header {
    background-color: lightgrey;
    padding: 3px 
}

nav {
    background-color: lightcyan;
    padding: 8px
    
}

@media (min-width: 805px){
    nav{
        width:130px;
        height: 1000px;
        display: inline-block;
        vertical-align: top;
        padding: 20px 10px;
    }
    }
    img {
        max-height: 500px;
        float: right;
    }    
    main{
        width: 1000px;
        height: 1000%;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
    }



