body {
    background-color: lightgray;
    
}
h1 {
    color: grey;
    font-family: cursive;
    font-size: 50px;

    
}

nav {
    border: 5px solid white;
    width: 30%;
    display: inline-block
}
nav#kalla {
           border: 2px solid white;
           width: 80%;
    
}    
nav#logga {
           border: 0px solid lightgray;
           width: 22%;  
           display: inline-block;
           vertical-align: top
               
           
                  
}
p { 
   font-size: 18px;
   
}
main {
      display: inline-block
    
}