body {
    background-color: lightgray;
    
}
h1 {
    color: grey;
    font-family: cursive;
    font-size: 50px;
    
}

nav {
    border: 5px solid white;
    width: 30%;
}
nav#kalla {
           border: 2px solid white;
           width: 80%;
    
}    
nav#logga {
           border: 0px solid lightgray;
           width: 22%;  
          
               
           
                  
}
p { 
   font-size: 18px;
   
}
main {
    display: inline-block;
    width: 60%;
      
}
nav#meny {
    display: inline-block;
    width: 200px;
    padding: 5px 10px;
    vertical-align: top;
    border: 2px solid white;
    
}

footer nav {
            border: none;
            
}
h3 { 
    border-bottom: 1px solid white;
    
}
footer h3 {
    width: 100%
}

footer nav a {
    display: inline-block;
    margin: 5px 5px;
    border: 1px solid black;
    padding: 8px 5px;
    text-decoration: none;
    border-radius: 20px;
    background-color: white
}
